* {
  box-sizing: border-box; /* when we add any border or padding to an element it won't affect it's width */
}

body {
  background-color: rgb(35, 62, 78);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader {
  position: relative;
  height: 80px;
  width: 80px;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  /* there are the top, left and right borders present, but they are transparent, so the bottom one is the only one we can see; the triangle is created because we set height and width to 0 */
  border-bottom-color: #fff;
  animation: rotateA 2s linear infinite 0.5s;
}

.loader::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
